<h1><i class="fas fa-question-circle"></i><span>{{title}}!</span></h1>
<h2>Welcome to the {{ title }}! website.
  <p>To access the quizz, please login.</p><br/><a href="/login">
    <button>Login</button></a>
</h2>