<div class="jumbotron">
  <h1 class="display-4">{{title}}</h1>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a href="/login" class="btn btn-primary btn-lg">Get started</button></a>
  </p>
</div>