<div class="clearfix">
  <div class="pull-left">
  	<i class="fa fa-lg fa-pie-chart"></i>
  	<span>Thomas Polls</span>
  </div>
  <div class="pull-right">
  	<img src="{{ user.picture }}" style="height:54px; border-radius: 30px;"/>
  	<strong style="margin: 0px 10px;">{{ user.nickname }}</strong>
  	<a class="btn btn-primary" href="/logout">Logout</a>
  </div>
</div>
</br>
<div class="jumbotron">
  <h1 class="text-center">Quizzes</h1>
</div>